<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399742630456-f37nsdjrq60jfhdln7goonhfrk85f1i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399742630456-f37nsdjrq60jfhdln7goonhfrk85f1i9</string>
	<key>API_KEY</key>
	<string>AIzaSyDnkFY_l6Ico4Sdm-BSsB4HMtZ4aqUGHE4</string>
	<key>GCM_SENDER_ID</key>
	<string>399742630456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.growgardenRtd</string>
	<key>PROJECT_ID</key>
	<string>growgarden-final</string>
	<key>STORAGE_BUCKET</key>
	<string>growgarden-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399742630456:ios:942ad544f50bca5ef6c4cd</string>
	<key>DATABASE_URL</key>
	<string>https://growgarden-final-default-rtdb.firebaseio.com</string>
</dict>
</plist>